<!-- <p>employee-details works!</p> -->
<!-- <p>employee-details works!</p> -->
<div class="jumbotron"style="text-align:center" >
    <h5 style="text-align: center; color: darkviolet;">! Employee Details !</h5>
 <table class="table table-dark center " style="text-align:center" >
 <tr>
 <td> Name</td>
 <td> <input type="text"value={{empObj.ename}}></td>
 </tr>
 <tr>
 <td> Email</td>
 <td> <input type="text" value={{empObj.email}}></td>
 </tr>
 <tr>
 <td> Mobile</td>
 <td> <input type="text" value={{empObj.mobile}}></td>
 </tr>
 <tr>
 <td> Designation</td>
 <td> <input type="text" value={{empObj.designation}}></td>
 </tr>
 <tr>
 <td> Username</td>
 <td> <input type="text" value={{empObj.username}}></td>
 </tr>
 <tr>
 <td> password</td>
 <td> <input type="text" value={{empObj.password}}></td>
 </tr>
 </table>
 <button class="btn btn-info float-right" (click)="getback()">Go Back</button>
</div>
