<p>str-directive works!</p>
<!-- if block only -->

<div *ngIf="num.length>0">
    <div *ngFor="let e of num">
        {{e}}
    </div>
</div>

<!-- if else block -->
<div *ngIf="months.length>0,else abc">
    <div *ngFor="let e of months">
        {{e}}
    </div>
</div>
<ng-template #abc>Array is empty</ng-template>

<!-- finding index of array -->
<h3>Finding index of array:-</h3>
<div *ngFor="let e of num,index as i">
    index is:{{i}} and data is:{{e}}
</div>

<h3>Finding Even Index of array:-</h3>
<div *ngFor="let e of num,index as i,even as e1">
    <div *ngIf="e1" style="color: crimson;">
        {{i}} {{e}}
    </div>
</div>

<h3>Finding Odd Index of array:-</h3>
<div *ngFor="let e of num,index as i,odd as o">
    <div *ngIf="o" style="color: crimson;">
        {{i}} {{e}}
    </div>
</div>

<h3>Finding First Index of array:-</h3>
<div *ngFor="let e of num,index as i,first as f">
    <div *ngIf="f" style="color: crimson;">
        {{i}} {{e}}
    </div>
</div>

<h3>Finding Last Index of array:-</h3>
<div *ngFor="let e of num,index as i,last as f">
    <div *ngIf="f" style="color: crimson;">
        {{i}} {{e}}
    </div>
</div>
<!-- Switch case -->
<div>
    Enter your choice:<input type="text" [(ngModel)]="choice">
</div>

<div [ngSwitch]="choice">
    <div *ngSwitchCase="'pqr'">
        Your choice is PQR
    </div>

    <div *ngSwitchCase="'abc'">
        Your choice is ABC
    </div>

    <div *ngSwitchCase="'XYZ'">
        Your choice is XYZ
    </div>

    <div *ngSwitchDefault>
        Your choice is wrong...!!!
    </div>
</div>


